@import "./nav";
@import "./menu";

.layoutColumns {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__content {
    // siempre
    transition: transform ease-in-out 0.3s;
    width: calc(100% - 100px);
  }
}
.layout__loader {
  @include rotate-loader($color: var(--black));
}
