.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0 20px;
  font-size: 1.2rem;

  z-index: 2;
  @include gradient-background-1-2-3();
  font-weight: bold;
  &__column {
    display: flex;
    align-items: center;
    span {
      cursor: pointer;
    }
    &__loader {
      @include rotate-loader();
    }
    &__image {
      display: inline-block;
      margin: 0 0 0 10px;
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-color);
      cursor: pointer;
      img {
        width: 80%;
      }
    }
    &__link {
      &__right,
      &__left {
        text-decoration: none;
        color: var(--white);
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &__right {
        margin-left: 20px;
      }
      &__left {
        margin-right: 20px;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
    }
  }
}
