.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0 20px;
  @include gradient-background-1-2-3();
  font-weight: bold;
  &__column {
    &__link {
      &__right,
      &__left {
        text-decoration: none;
        color: var(--white);
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &__right {
        margin-left: 20px;
      }
      &__left {
        margin-right: 20px;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
    }
  }
}
