.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0 20px;
  font-size: 1.2rem;

  z-index: 2;
  @include gradient-background-1-2-3();
  font-weight: bold;
  &__column {
    display: flex;
    align-items: center;
    &__dropdown {
      display: none;
    }
    span {
      cursor: pointer;
    }
    &__loader {
      @include rotate-loader();
    }
    &__image {
      display: inline-block;
      margin: 0 0 0 10px;
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-color);
      cursor: pointer;
      img {
        width: 80%;
      }
    }
    &__link {
      &__right,
      &__left {
        text-decoration: none;
        color: var(--white);
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &__right {
        margin-left: 20px;
      }
      &__left {
        margin-right: 20px;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
    }

    @media screen and (max-width: 700px) {
      // 0 al 700px
      &:last-child {
        visibility: hidden;
        // opacity: 0.5;
        position: fixed;
        width: 100vw;
        height: 100vh; // viewport height
        top: 0;
        left: 0;
        z-index: 1;
        background-color: var(--secondary-color);
        clip-path: circle(0% at 50% 50%);
        transition: all ease 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        span,
        div,
        a {
          margin: 0;
        }

        &.open {
          clip-path: circle(100% at 50% 50%);
          visibility: visible;
        }
      }
      &__dropdown {
        display: inline-block;
        position: relative;
        z-index: 2;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        div {
          width: 50px;
          height: 5px;
          background-color: var(--white);
        }
      }
    }
  }
}
